header {
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul {
  list-style: none;
  width: 200px;
  border: 1px solid;
  display: flex;
  justify-content: space-around;
}
